div {
  width: 80vw;
  margin: auto;
  padding: 0 30%;
  input{
    margin-top: 10vh;
    border-radius: 10px;
    margin-bottom: 5vh;
    width: 40vw;
  }
  button{
    border-radius: 8px;
    background-color: rgb(224, 224, 133);
  }
}

.completed{
 border-radius: 10px;
 background-color: rgb(224, 224, 133);
  margin-left: 5px;

}
tr {
    width: 50vw;
    height: 30px;


      td {
        border: 2px solid rgb(190, 181, 181);
        border-radius: 10px;
        box-sizing: border-box;
        width: 40vw;
        height: 30px;
      }

}
