@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


nav {
  cursor: pointer;
  font-family: 'Architects Daughter', cursive;
  font-size: 2rem;
    width: 80%;
    margin:auto;
    li {
      list-style-type: none;
      display: inline-block;
      width: 40%;
      text-align: center;
        a{
          text-decoration: none;
        }
        a:active{
          text-decoration: underline;
        }
        }
  }


