div{
  margin-top: 10vh;
  width: 80vh;


tr {
  width: 80vw;
  height: 30px;
  margin: 20px 0;



    td {
      border: 2px solid rgb(190, 181, 181);
      border-radius: 10px;
      box-sizing: border-box;
      width: 80vw;
      height: 30px;
      margin: auto;
    }

}
}
