@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

html {
  font-family: 'Architects Daughter', cursive;
}

button{
  cursor: pointer;
}

.active{
 color: red;
}
